---
layout: default
---
<header class="page-header cheatsheet-header">
	<p class="page-subtitle">The Cheatsheet For</p><br>
	<h1>{{ page.title | escape }}</h1>
</header>

<main class="page-main">
	
	<!-- Contents -->
	<section id="contents" class="cheatsheet-section">
		<h2>Contents</h2>
		<nav class="cheatsheet-contents">
	      <ol>
	      	{% for item in page.contents %}
	        <li><a href="{{item.link}}">{{item.title}}</a></li>
	        {% endfor %}
	      </ol>
	  </nav>
	</section>
	
	<!-- Introduction -->
	<section id="intro" class="cheatsheet-section">
		<h2>Introduction</h2>
		{{ page.intro }}
	</section>

	
	<!-- Table -->	
	<section id="property-overview" class="cheatsheet-section">
		<h2>Properties Overview</h2>

		<table class="property-table property-table-default">
		  <thead>
		    <tr>
		      <th class="property">Property</th>
		      <th class="description">Description</th>
		      <th class="values">Values</th>
		    </tr>
		  </thead>
		  <tbody>


		    {% for property in site.data[page.data_file].properties %}

		    <tr>
		      <td class="property">
		        <a href="#{{property.property}}" class="cf">{{property.property}}</a>
		      </td>
		      <td class="description">{{property.description}}</td>
		      <td class="values">

		        {% if property.dynamic_values %}
		          <span class="cf">< {{property.value}} ></span> <br>Examples - 
		        {% endif %}

	          {% for value in property.values %}
	          <a href="#{{property.property}}-{{value.value}}" class="cf">{{value.value}}</a>{% if value.default %} (default){% endif %} | 
	          {% endfor %}

		      </td>
		    </tr>

		    {% endfor %}
		    
		  </tbody>
		</table>

	</section>
	


	<!-- Other -->
	{{ content }}


	<!-- Support -->
	<section id="support" class="cheatsheet-section">
		<h2>Support</h2>
		{% for item in page.support_tables %}
			<p class="ciu_embed" data-feature="{{item.feature}}" data-periods="{{item.periods}}">   <a href="http://caniuse.com/#feat={{item.feature}}">Can I Use {{item.feature}}?</a> Data on support for the {{item.feature}} feature across the major browsers from caniuse.com. </p><br>
		{% endfor %}
	</section>
</main>
