---
layout: default
---
<header class="page-header cheatsheet-header">
	<p class="page-subtitle">The Cheatsheet For</p>
	<h1>{{ page.title | escape }}</h1>
</header>

<main class="page-main">
	
	<!-- Table -->	
	<section id="property-overview" class="cheatsheet-section">
		<h2>Overview</h2>
		<table class="property-table property-table-default">
		  <thead>
		    <tr>
		      <th class="property">Property</th>
		      <th class="description">Description</th>
		      <th class="values">Values</th>
		    </tr>
		  </thead>
		  <tbody>

		    {% for property in site.data[page.data_file].properties %}

		    <tr>
		      <td class="property">
		        <a href="#{{property.property}}" class="cf">{{property.property}}</a>
		      </td>
		      <td class="description">{{property.description}}</td>
		      <td class="values">

		      	{% if property.dynamic_values %}
		          <span class="cf">< {{property.value}} ></span> <br>Examples - 
		        {% endif %}

	          {% for value in property.values %}
	          <a href="#{{property.property}}-{{value.value}}" class="cf">{{value.value}}</a>{% if value.default %} (initial){% endif %} | 
	          {% endfor %}

		      </td>
		    </tr>
		    {% endfor %}		    
		  </tbody>
		</table>
	</section>
	


	<!-- Other Stuff -->
	{{ content }}

</main>
